*__pycache__*
.*
build/
dist/
*egg*
venv
linuxVenv/*
*Venv*
dev/cleaned_nuclide_data/*
dev/raw_nuclide_data/*
dev/kartering.txt
dev/debug/*.so
dev/debug/*.c
*.log
*.lock
main.*
dev/*
luracs/utils/numerics/cython/*.so
luracs/utils/numerics/cython/*.c