[submodule "Clients/RaysidClient"]
	path = QtGUI/clients/RaysidClient
	url = git@github.com:EBELU/RaysidClient.git

[submodule "Clients/RadiacodeClient"]
	path = QtGUI/clients/RadiacodeClient
	url = git@github.com:EBELU/RadiacodeClient.git
